@import "tailwindcss";

/* Ensure the app takes up full height */
html,
body,
#root {
  height: 100%;
}

body {
  font-family: var(--font-sans);
}

/* mouse cursor transition and animation */
button, a {
  cursor: pointer;
}
* {
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;
}